/* ELEMENTS AND FONT BELOW*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 h2 h3 h4 h5 {
    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Abel', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
    color: white;
    margin: 0;
}
h6 {
    font-size: .65em;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
    font-family: 'Abel', sans-serif;
}
.anton {
    font-family: 'Anton', sans-serif;
}
.col-12 {
    padding: 0;
}
/*GLOBALS BELOW*/
.col-sm-3 {
    padding: 0;
    max-width: 125px;
}
.col-6 {
    max-width: none;
    padding: 0;
}
.container {
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-width: none;
}
.rowOne {
    margin-bottom: 5em;
}
.rowTwo {

}
/*CIRCLES AND ICONS BELOW*/


.circleRed {
    background-color: #E6563E;
    height: 18px;
    width: 18px;
}
.circleOrange {
    background-color: #EB9D3A;
    height: 18px;
    width: 18px;
}
.circleGreen {
    background-color: #7CB06C;
    height: 18px;
    width: 18px;
}
.circleBlue {
    background-color: #00ABA9;
    height: 18px;
    width: 18px;
}

/* FIRST ROW BELOW*/

#logo {
    width: 105px;
    height: 105px;
    mix-blend-mode: multiply;
    margin-top: 10px;
}

.whiteBar {
    width: 100%;
    height: 55px;
    position: absolute;
    top: 35px;
    background-size: cover;
}
.bg-circle {
    background-color: white;
    height: 93px;
    width: 93px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#smallNavBar1 {
    width: 30%;
    padding-top: 3.5%;
}
#smallNavBar2 {
    width: 30%;
    padding-top: 3.5%;
}
#header {
    font-size: 2.8em;
}
.navFlex {
    margin: 0 10%;
    max-width: 500px;
}

/*SECOND ROW BELOW*/

.fromUtah {
    margin: 2em 0;
}
.design {
    width: 115px;
    height: 115px;
    border: 8px solid white;
    /*margin-right: 0;*/
}
.develop{
    width: 115px;
    height: 115px;
    border: 8px solid white;
}
.support{
    width: 115px;
    height: 115px;
    border: 8px solid white;
}
.host{
    width: 115px;
    height: 115px;
    border: 8px solid white;
}

/* XS CIRCLE POSITION*/
.xsCircle {
    margin: 5px 10px;
}



/*SMALL CIRCLE POSITION*/

.smCircle {
    padding: 0 15px;
}
.smlCircleBox {
    width: 100%;
}
.line {
    width: 72%
}

/*THIRD ROW BELOW*/
.rowThree {
    margin: 0;
}
.rowThreeXS {
    /*margin: 96px 10% 0 10%;*/
}
.rowThreeSM {
    margin-top: 17px
}

/* ALL XS THIRD ROW */

#appleIpadXS {
    width: 80%;
    border: 6px solid #E6E6E6;
    border-radius: 2%;
    margin: 0 10%;
}
#smallCircleXSDiv {
    width: 40%;
}
#smallCirclesXS {
    width: 85%;
    margin-top: 4px;
}
#imageTextXS {
    font-size: .8em;
    margin: .25em 0 1.8em 0;
}
.smallCircleXSPad{
    margin: 0 2px;
}
#featuredXS {
    padding-left: 10%;
}

/* ALL SMALL THIRD ROW*/

.appleIpadSM {
    width: 80%;
    border: 6px solid #E6E6E6;
    border-radius: 2%;
    margin: 0 10%;
}
.macbookSM {
    width: 80%;
    border: 6px solid #E6E6E6;
    border-radius: 2%;
    margin: 0 10%;
}
.manSM {
    width: 80%;
    border: 6px solid #E6E6E6;
    border-radius: 2%;
    margin: 0 10%;
}
.securitySM {
    width: 80%;
    border: 6px solid #E6E6E6;
    border-radius: 2%;
    margin: 0 10%;
}
#smallCircleSmallDiv1 {
    width: 100%;
    padding-right: 13%;
}
#smallCircleSmallDiv2 {
    width: 100%;
    padding-right: 13%;
}
#smallCircleSmallDiv3 {
    width: 100%;
    padding-right: 13%;
}
#smallCircleSmallDiv4 {
    width: 100%;
    padding-right: 13%;
}
#smallCirclesSmall1{
    width: 85%;
    margin-top: 4px;
}
#smallCirclesSmall2 {
    width: 85%;
    margin-top: 4px;
}
#smallCirclesSmall3{
    width: 85%;
    margin-top: 4px;
}
#smallCirclesSmall4 {
    width: 85%;
    margin-top: 4px;
}
#imageTextSM1 {
    font-size: .8em;
    margin: .25em 0 1.8em 0;
}
#imageTextSM2 {
    font-size: .8em;
    margin: .25em 0 1.8em 0;
}
#imageTextSM3 {
    font-size: .8em;
    margin: .25em 0 1.8em 0;
}
#imageTextSM4 {
    font-size: .8em;
    margin: .25em 0 1.8em 0;
}
.smallCircleSmallPad {
    margin: 0 2px;
}
#featuredSM1 {
    padding-left: 7%;
}
#featuredSM2 {
    padding-left: 7%;
}
#featuredSM3 {
    padding-left: 7%;
}
#featuredSM4 {
    padding-left: 7%;
}

/*ALL MEDIUM THIRD ROW*/

.mobileMD {
    width: 20%;
    border: 1px solid #E6E6E6;
    border-radius: 2%;
    margin: 4% 0;
    padding: 0;
}
.headMD {
    width: 20%;
    border: 1px solid #E6E6E6;
    border-radius: 2%;
    margin: 4% 0;
    padding: 0;
}
.googleMD {
    width: 20%;
    border: 1px solid #E6E6E6;
    border-radius: 2%;
    margin: 4% 0;
    padding: 0;
}
.tinyText {
    font-size: 1.45em;
    padding-left: 3%;
    margin: 4% 0;
}